<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
<form method="post">
    <table cellspacing="15" border="2">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>manufacturer</th>
            <th>category</th>
            <th>description</th>
        </tr>
        <tr>
            <th><input type="text" name="ID"></th>
            <th><input type="text" name="name"></th>
            <th><select name="manufacturer">
                {% for m in manufacturers %}
                <option>{{m}}</option>
                {% endfor %}
            </select></th>
            <th><select name="category">
                {% for c in categories %}
                <option>{{c}}</option>
                {% endfor %}
            </select></th>
            <th><textarea name="description" rows="1" cols="20"></textarea></th>
        </tr>
    </table>
    <div>
        <input type="submit" name="submit" value="submit">
    </div>
</form>
</body>
</html>