<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>database view</title>
</head>
<body>
<div><form action="http://localhost:8080/">
    <input type="submit" value="home">
</form></div>
<br>
<table cellspacing="15" border="2">
    <tr>
        {% for h in tableheaders %}
        <th>{{h}}</th>
        {% endfor %}
    </tr>
    {% for item in items %}
    <tr>
        {% for p in item[:-1] %}
        <th>{{p}}</th>
        {% endfor %}
        <th><form action="{{item[-1]}}">
            <input type="submit" value="delete">
        </form></th>
    </tr>
    {% endfor %}

</table>
</body>
</html>